In [1]:
import numpy as np
from scipy.stats import ttest_ind

v1 = np.random.normal(size=100)
v2 = np.random.normal(size=100)

res = ttest_ind(v1, v2)

print(res)

TtestResult(statistic=-0.3018249086781556, pvalue=0.763102320411954, df=198.0)

In [2]:
import numpy as np
from scipy.stats import describe

x = np.random.normal(size=50)
res = describe(x)

print(res)

DescribeResult(nobs=50, minmax=(-2.1110852826395994, 2.1382185070419863), mean=-0.01412507191806748, variance=0.857480937086798, skewness=-0.02242461823932727, kurtosis=-0.5642088084961014)

In [3]:
from scipy.stats import ttest_ind
x = ([1, 3, 5, 7, 11])
y = ([2, 4, 6, 8, 4])
res = ttest_ind(x, y)
print(res)

TtestResult(statistic=0.30000000000000027, pvalue=0.7718244816824985, df=8.0)

In [4]:
from scipy.interpolate import interp1d

In [5]:
import numpy as np
x = np.array([0., 1.,5., 8., 10.])
y = np.array([0., 4., 1., 6., 8.])

In [6]:
f = interp1d(x, y)
f(3)

array(2.5)

In [7]:
%matplotlib inline

import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.multivariate.pca import PCA

plt.rc("figure", figsize=(16,8))
plt.rc("font", size=14)

In [9]:
data = sm.datasets.fertility.load_pandas().data
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820,4.655,4.471,4.271,4.059,3.842,...,1.786,1.769,1.754,1.739,1.726,1.713,1.701,1.690,NaN,NaN
1,Andorra,AND,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.240,1.180,1.250,1.190,1.220,NaN,NaN,NaN
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.671,7.671,7.671,7.671,7.671,7.671,...,7.136,6.930,6.702,6.456,6.196,5.928,5.659,5.395,NaN,NaN
3,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.316,7.354,7.385,7.410,7.425,7.430,...,6.704,6.657,6.598,6.523,6.434,6.331,6.218,6.099,NaN,NaN
4,Albania,ALB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.186,6.076,5.956,5.833,5.711,5.594,...,2.004,1.919,1.849,1.796,1.761,1.744,1.741,1.748,NaN,NaN

In [10]:
columns = list(map(str, range(1960, 2012)))
data.set_index('Country Name', inplace=True)
dta = data[columns]
dta = dta.dropna()
dta.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,4.820,4.655,4.471,4.271,4.059,3.842,3.625,3.417,3.226,3.054,...,1.825,1.805,1.786,1.769,1.754,1.739,1.726,1.713,1.701,1.690
Afghanistan,7.671,7.671,7.671,7.671,7.671,7.671,7.671,7.671,7.671,7.671,...,7.484,7.321,7.136,6.930,6.702,6.456,6.196,5.928,5.659,5.395
Angola,7.316,7.354,7.385,7.410,7.425,7.430,7.422,7.403,7.375,7.339,...,6.778,6.743,6.704,6.657,6.598,6.523,6.434,6.331,6.218,6.099
Albania,6.186,6.076,5.956,5.833,5.711,5.594,5.483,5.376,5.268,5.160,...,2.195,2.097,2.004,1.919,1.849,1.796,1.761,1.744,1.741,1.748
United Arab Emirates,6.928,6.910,6.893,6.877,6.861,6.841,6.816,6.783,6.738,6.679,...,2.428,2.329,2.236,2.149,2.071,2.004,1.948,1.903,1.868,1.841

In [11]:
ax = dta.mean().plot(grid=False)
ax.set_xlabel("Year", size=17)
ax.set_ylabel("Fertility rate", size=17);
ax.set_xlim(0, 51)

(0.0, 51.0)

In [19]:
pca_model = PCA(dta.T, standardize=False, demean=True)

In [20]:
fig = pca_model.plot_scree(log_scale=False)

In [38]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(8, 4))
lines = ax.plot(pca_model.factors.iloc[:, :3], lw=4, alpha=.6)

# Set ticks and labels properly
xtick_locs = range(0, len(dta.columns.values), 10)
ax.set_xticks(xtick_locs)
ax.set_xticklabels(dta.columns.values[::10])

ax.set_xlim(0, 51)
ax.set_xlabel("Year", size=17)
fig.subplots_adjust(.1, .1, .85, .9)

legend = fig.legend(lines, ['PC 1', 'PC 2', 'PC 3'], loc='center right')
legend.draw_frame(False)

In [39]:
idx = pca_model.loadings.iloc[:,0].argsort()

In [40]:
def make_plot(labels):
    fig, ax = plt.subplots(figsize=(9,5))
    ax = dta.loc[labels].T.plot(legend=False, grid=False, ax=ax)
    dta.mean().plot(ax=ax, grid=False, label='Mean')
    ax.set_xlim(0, 51);
    fig.subplots_adjust(.1, .1, .75, .9)
    ax.set_xlabel("Year", size=17)
    ax.set_ylabel("Fertility", size=17);
    legend = ax.legend(*ax.get_legend_handles_labels(), loc='center left', bbox_to_anchor=(1, .5))
    legend.draw_frame(False)

In [41]:
labels = dta.index[idx[-5:]]
make_plot(labels)

In [42]:
idx = pca_model.loadings.iloc[:,1].argsort()
make_plot(dta.index[idx[-5:]])

In [43]:
make_plot(dta.index[idx[:5]])

C:\Users\bisha\AppData\Local\Temp\ipykernel_5596\2048057325.py:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`). Consider using `matplotlib.pyplot.close()`.
  fig, ax = plt.subplots(figsize=(9,5))

In [28]:
fig, ax = plt.subplots()
pca_model.loadings.plot.scatter(x='comp_00',y='comp_01', ax=ax)
ax.set_xlabel("PC 1", size=17)
ax.set_ylabel("PC 2", size=17)
dta.index[pca_model.loadings.iloc[:, 1] > .2].values

array([], dtype=object)

In [29]:

import scipy.integrate
f= lambda x:np.exp(-x**2)
# print results
i = scipy.integrate.quad(f, 0, 1)
print(i)

(0.7468241328124271, 8.291413475940725e-15)

In [30]:
import scipy.integrate
f= lambda x:np.exp(x**1)
# print reults
i = scipy.integrate.quad(f, 1, 2)
print(i)

(4.670774270471606, 5.1856011379043454e-14)

In [31]:
import scipy.io as syio
  
# Save the mat file
n = 14031977
syio.savemat('test.mat', {'test': n})
  
# Load the mat File
matf_contents = syio.loadmat('test.mat')
print(matf_contents)
  
# printing the contents of mat file.
matf_contents = syio.whosmat('test.mat')
print(matf_contents)

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Sat Apr 12 14:43:37 2025', '__version__': '1.0', '__globals__': [], 'test': array([[14031977]])}
[('test', (1, 1), 'int32')]

In [32]:
import scipy.io as syio
n = 14031977
syio.savemat('test.mat', {'test': n})
matf_contents = syio.loadmat('test.mat')
print(matf_contents)
matf_contents = syio.whosmat('test.mat')
print(matf_contents)

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Sat Apr 12 14:43:40 2025', '__version__': '1.0', '__globals__': [], 'test': array([[14031977]])}
[('test', (1, 1), 'int32')]

In [33]:
import numpy as np
from scipy import stats

arr2 = [[50, 12, 12, 34, 4],
		[12, 11, 10, 34, 21]]

print ("\nZ-score for arr2 : \n", stats.zscore(arr2, axis = 0))
print ("\nZ-score for arr2 : \n", stats.zscore(arr2, axis = 1))

Z-score for arr2 :
 [[ 1.  1.  1. nan -1.]
 [-1. -1. -1. nan  1.]]

Z-score for arr2 :
 [[ 1.62005758 -0.61045648 -0.61045648  0.68089376 -1.08003838]
 [-0.61601725 -0.72602033 -0.83602341  1.80405051  0.37401047]]